<div class="mt-4">
    <div class="row">
        <h3>Edit Favourite</h3>
        <form method="POST" action="/favourite/{{favourite._id}}?_method=PATCH">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input value="{{favourite.name}}" type="text" name="name" class="form-control" id="name" aria-describedby="name">
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" class="form-control" id="description" aria-describedby="Description">{{favourite.description}}</textarea>
            </div>

            <div class="mb-3">
                <label for="videoId" class="form-label">VideoId</label>
                <input value="{{favourite.videoId}}" type="text" name="videoId" class="form-control" id="videoId" aria-describedby="videoId">
            </div>

            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
</div>