<div class="mt-4">
  <form method="POST">
    <div class="mb-3">
      <label for="search-input" class="form-label">Key</label>
      <input name="q" type="text" class="form-control" id="search-input" aria-describedby="Search...">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>